## **Day 1** Basics of Python

In [9]:
print ("Hello World")
print ("Pratistha Bhandari")
s= "Pratistha Bhandari"
print(s)
a= 20.5
b="Hi"
c="pratistha"
d=3000.40
print(a,b,c,d)
print("Kritim", end="@")
print ("Mind Technology")

Hello World
Pratistha Bhandari
Pratistha Bhandari
20.5 Hi pratistha 3000.4
Kritim@MInd Technology

In [11]:
print ("apple", "mango","banana", sep="/")

apple/mango/banana

In [13]:
print("pratistha","kritim",sep=".", end="@")
print("gmail","com", sep=".")

pratistha.kritim@gmail.com

In [14]:
name= "Pratistha"
age="20"
print(f"My name is {name}. I am {age} years old")

My name is Pratistha. I am 20 years old

In [19]:
a= int(input ("Enter value of a"))
print(a)
b= int(input ("Enter value of b"))
print (b)
sum= a+b
print (sum)

x,y= int(input("Enter value of x and y"))

Enter value of a 2

2

Enter value of b 3

3
5

Enter value of x and y 2

TypeError: cannot unpack non-iterable int object

In [30]:
x,y= input("Enter value of x and y").split()
print("The value of x: ",x)
print("The value of y:",y)

Enter value of x and y 1 2

The value of x:  1
The value of y: 2

In [13]:
age = int (input("Enter your age"))
if (age == 0):
    print("Invalid age")

elif (age<18):
    print ("You are a teenager")

elif (age <40 and age>18):
    print("You are an adult")
    
else:
    print("You are oldage")

Enter your age 0

Invalid age

In [15]:
s= "10"
n = int(s)
print(n)
p= 10
q= float(p)
print(q)

10
10.0

In [34]:
def sum(a,b):
    return a+b;
a = int(input("Enter value for a"))
b = int(input("Enter value for b"))
total = sum(a,b)
print(total);

Enter value for a 12
Enter value for b 12

24

In [53]:
glo="global variable"
def foo():
    global glo
    glo= "I am a local function"
    glo
foo()
print(glo)

I am a local function

### Swapping variables with temp

In [54]:
a = 10
b= 20
temp=a
a=b
b=temp
print(a)
print(b)

20
10

Swapping without temp

In [55]:
a= 12
b=18
a,b=b,a
print(a)
print(b)

18
12

In [60]:
str = input("Give a string")
length=len(str)
print(length)

Give a string puja

4

In [68]:
import keyword
string =print(keyword.kwlist)
length = len (keyword.kwlist)
print(length)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [70]:
a =9//2
print(a)
b = 12**4
print(b)

4
20736

Identity operator in python

In [79]:
a= 10
b=20
c=10
print (a is not b)
print (a is c)
x= 24
y=20
List=[10,20,30,40,50,24,60]
if(x not in List):
    print("X is not is in list")
else:
    print("X is in list")

True
True
X is in list

In [80]:
a=100
b=200
min = a if a<b else b
print(min)
max= a if a>b else b
print(max)

100
200

## Data type in python
- Numeric(int,float,complex(a+ib))
- Sequential(List,tuple,string(it holds sequence of characters))
- Mapping(dict(key value pair))
- boolean(bool)
- set(set,frozenset)
- binary(byte,bytearray,memoryview)